In [1]:
# Imports
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup
import requests

In [2]:
# import data
uni_data = pd.read_csv("Uni_info.csv")
uni_data.head(2)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,LATITUDE,LONGITUDE
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,34.783368,-86.568502
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,33.505697,-86.799345

In [4]:
wiki_url = "https://www.wikipedia.org/wiki/"
inst = uni_data['INSTNM'][1]
inst = inst.replace(" ", "_")
inst_url = wiki_url + inst
inst_url

'https://www.wikipedia.org/wiki/University_of_Alabama_at_Birmingham'

In [8]:
inst_list = list(uni_data['INSTNM'])
# inst_list

In [10]:
for index, row in uni_data.head(5).iterows():
    print(row['INSTNM'])

AttributeError: 'DataFrame' object has no attribute 'iterows'