In [1]:
import pickle
import joblib
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
filename = 'model1.sav'

In [3]:
df = pd.read_csv(os.path.join('data.csv'))

df.dropna()

df.head()

df.shape

(994, 14)

In [4]:
X = df[['ADM_RATE_ALL', 'AVGFACSAL','RET_FT4', 'CDR3',
       'AGE_ENTRY', 'UGDS_MEN']]
y = np.log(df['MN_EARN_WNE_P10'])

In [5]:
X.head()

   ADM_RATE_ALL  AVGFACSAL  RET_FT4   CDR3  AGE_ENTRY  UGDS_MEN
0        0.5256     6892.0   0.6595  0.172  20.525773    0.4831
1        0.8569     9957.0   0.8288  0.062  23.492140    0.4169
2        0.8203     9302.0   0.7696  0.061  23.718723    0.5733
3        0.5326     6609.0   0.5725  0.156  20.528185    0.3877
4        0.5105     9667.0   0.8670  0.063  21.356529    0.4580

In [6]:
y.head()

0    10.477288
1    10.787255
2    10.858999
3    10.328755
4    10.851277
Name: MN_EARN_WNE_P10, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [8]:
print(X_test.shape)
print(X_train.shape)
print(y_test.shape)
print(y_train.shape)

(249, 6)
(745, 6)
(249,)
(745,)

In [9]:
ADM_RATE_ALL = 0.5256
AVGFACSAL = 6892.0
RET_FT4 = 0.6595
CDR3 = 0.172
AGE_ENTRY = 20.52
UGDS_MEN = 0.4831

In [10]:
loaded_model = joblib.load(filename)

In [11]:
result = loaded_model.score(X_test, y_test )

In [12]:
print(result)

0.6978564029602756

In [13]:
### This shows that the saved exported model recieves exactly the same score as the one in the multiple regression jupyter notebook.